extends overlay_default
block content
        div.container
                div.overlay
                        div.platin.trophy 0 / 0 <br />
                        div.gold 0 / 0 <br />
                        div.silber 0 / 0 <br />
                        div.bronze 0 / 0 <br />